extends layout

block variables
    -var title = "Unauthenticated"

block content
    h2.text-center You must log in to view this page
    p.text-center
        Please sign in you view this page. #[a(href="/users/login", title="Login") Login or Register].